@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: hsl(0, 0%, 98%);
    --text-color: hsl(200, 15%, 8%);
    --element-color: hsl(0, 0%, 100%);
    --input-color: hsl(0, 0%, 52%);
    --shadow: hsl(0, 0%, 90%);
    --theme-logo: hsl(0, 0%, 85%);
  }
  .dark {
    --bg-color: hsl(207, 26%, 17%);
    --text-color: hsl(0, 0%, 100%);
    --element-color: hsl(209, 23%, 22%);
    --input-color: hsl(0, 0%, 100%);
    --shadow: hsl(207, 24%, 10%);
    --theme-logo: hsl(207, 24%, 25%);
  }

  .theme:hover {
    background-color: var(--theme-logo);
  }
}
